body {
  margin: 0;
  padding: 0;
  background-color: #111315; 
   font-family: 'DM Sans', sans-serif;
}

.app {
  text-align: center;
}

.top-banner {
  width: 100%;
  height: auto;
  display: block;
}
